# Exclude everything by default
exclude *
recursive-exclude * *

graft src/wagtail_factories

include README.md
include CHANGES
include setup.py

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
